.vc-modernTitlebar-button {
    background-color: transparent;
    color: var(--channel-icon);
    padding: 0 var(--vc-moderntitlebar-spacing-half);
    height: var(--vc-moderntitlebar-height);
    min-width: calc(32px + var(--vc-moderntitlebar-spacing));
    -webkit-app-region: no-drag;
}

.app-focused .vc-modernTitlebar-button {
    color: var(--interactive-normal);
}

.vc-modernTitlebar-button-inner {
    padding: 4px;
    border-radius: 16px;
    height: 24px;
}

.vc-modernTitlebar-button:is(:hover, :active) {
    color: var(--interactive-hover);
}

.vc-modernTitlebar-button:is(:hover, :active) .vc-modernTitlebar-button-inner {
    background-color: var(--background-modifier-hover);
}
