.vc-modernTitlebar-titlebar-group-left > :first-child {
    min-width: calc(32px + var(--vc-moderntitlebar-spacing) + var(--vc-moderntitlebar-spacing-half));
    padding-left: var(--vc-moderntitlebar-spacing);
}

body .vc-modernTitlebar-button.vc-modernTitlebar-button-home {
    color: var(--interactive-hover);
}

body .vc-modernTitlebar-button.vc-modernTitlebar-button-home:is(:hover, :active) {
    color: var(--white-500);
}

.vc-modernTitlebar-button.vc-modernTitlebar-button-home:is(:hover, :active) .vc-modernTitlebar-button-inner {
    background-color: var(--button-filled-brand-background);
}
